<div id='fixedban' style='width:100%;margin:auto;text-align:center;float:none;overflow:hidden;display:scroll;position:fixed;bottom:0;z-index:999;-webkit-transform:translateZ(0);'>
	<div>
		<a id='close-fixedban' onclick='document.getElementById("fixedban").style.display = "none";' style='cursor:pointer;'><img alt='close' src='https://yess-online.com/close.png' title='close button' style='vertical-align:middle;'/></a>
	</div>
	<div style='text-align:center;display:block;max-width:728px;height:auto;overflow:hidden;margin:auto'>
		<script type='text/javascript' src='//pl15925817.profitablecpmnetwork.com/b1/ff/67/b1ff677650dad6614bafd801d12eedf3.js'>
		</script>
	</div>
</div>